body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

text {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 500;
}

table {
    width: 50%;
    border-collapse: collapse;
    border: 2px solid #ccc; 
}
th, td {
    border: 1px solid #ccc; 
    padding: 8px; 
}
th {
    background-color: #f2f2f2;
}